/*GENERAL*/
body{
	width: 100%;
	position: relative;
	font-family: 'Roboto-Light', Arial;
	font-size: 12px;
}

h2{
	margin: 0;
}

h3{
	font-family: 'Roboto-Bold', Arial;
	font-size: 12px;
	display: block;
	margin: 0;
}

h4{
	margin: 0;
}


h5{
	display: inline-block;
	width: auto
}

p{
	margin-top: 5px;
	font-size: 12px;
	display: inline-block;
	width: 80%;
}

.full-width{
	width: 100%;
}

.bold{
	font-weight: bold;
}

/*BUTTON*/
.button {
	background-color: #316698;
	color: white;
	border: 1px solid #316698;
	margin: auto;
	padding: 10px;
	margin-top: 35px;
	width: 50%;
	position: relative;
}
.button span{
	font-family: 'Roboto-Light', Arial;
	font-size: 15px;
}

.button:hover{
	background-color: #1C4368;
}

/*FOOTER*/
footer .terms-social {
    width: 100%;
    height: 18em;
    background-color: #2A2A2A;
    display: block;
    position: relative;
}

.terms {
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3.8%;
    position: absolute;
    left: 0;
    top: 0;
}

.terms a{
	text-decoration: none;
	color: white;
	display: block;
	font-size: 13px;
	margin: 10px 0;
}

.terms a:hover{
	color: #316698;
}

.social {
    width: 50%;
    color: white;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}
.social p {
    font-size: 14px;
    display: block;
    position: absolute;
    top: 40%;
    width: 100%;
}

.social i {
	margin: 5% 3%;
    font-size: 2.1em;
    display: inline-block;
    position: relative;

}
@media only screen and (min-width: 1401px) {
	.social i {
		
		margin-top: 15%;
	}
}


@media only screen and (min-width: 1096px) and (max-width: 1400px) {
	.social i {
		
		margin-top: 15%;
	}
}


@media only screen and (min-width: 450px) and (max-width: 1095px) {
	.social i {
		
		margin-top: 30%;
	}
}


@media only screen and (max-width: 449px) {
	.social i {
		
		margin-top: 50%;
	}
}
footer .copyrigth {
    background-color: #1F1F1F;
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 35px;
}

.border-radius{
    background-color: #EDEEF0;
    border-radius: 10px;
	height: 38px;
}

@font-face{
	font-family: "Roboto-Light";
	src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face{
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}


h1,h2,h3,h4,h5{

	font-family: "Roboto-Light";
	color: rgb(39, 39, 39);

}

.bold{
	font-family: "Roboto-Bold";
}

.light{
	font-family: "Roboto-Light";
}

footer{
	margin-top: 50px;
}



/*END FOOTER*/


.materialboxed:hover:not(.active) {
    opacity: .4 !important;
}



.materialboxed {
	display: block;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	position: relative;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
	-webkit-backface-visibility: hidden;

  }
  
  .materialboxed:hover:not(.active) {
	opacity: .8;
  }
  
  .materialboxed.active {
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
  }
  
  #materialbox-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000dc;
	z-index: 1000;
	will-change: opacity;
  }
  
  .materialbox-caption {
	position: fixed;
	display: none;
	color: #fff;
	line-height: 50px;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0% 15%;
	height: 50px;
	z-index: 1000;
	-webkit-font-smoothing: antialiased;
  }
  


  img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}


.mc-card{

	margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
	


}

.mc-card-img{
	position: absolute;
	background-size: cover;
}





.card-panel {
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	padding: 24px;
	border-radius: 2px;
	background-color: #EDEFF1;
  }
  
  .card {
	display: inline-block;
	position: relative;
	background-color: #EDEFF1;

	border-radius: 2px;
  }
  
  .card .card-title {
	font-size: 16px;
	font-weight: bold !important;
	font-family: 'Roboto-Bold', Arial;
	color: #1C4368
  }

  .card .card-title.activator {
	cursor: pointer;
  }
  
  .card.small, .card.medium, .card.large {
	position: relative;
  }
  
  .card.small .card-image, .card.medium .card-image, .card.large .card-image {
	max-height: 80%;
	overflow: hidden;
  }
  
  .card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
	max-height: 30%;
  }
  
  .card.small .card-content, .card.medium .card-content, .card.large .card-content {
	max-height: 100%;
	overflow: hidden;
  }

  .card-content {
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: #edeff1;
  }


  .card .card-image img {
	height: -webkit-fill-available;
}

.material-placeholder{
	background-color: black;
}

.card .card-image {
    height: -webkit-fill-available;
}


  .card.small .card-action, .card.medium .card-action, .card.large .card-action {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  }
  
  .card.small {
	height: 280px;
	text-align: center;
  }
  
  .card.medium {
	height: 400px;
  }
  
  .card.large {
	height: 500px;
  }
  
  .card.horizontal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  }
  
  .card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
	height: 100%;
	max-height: none;
	overflow: visible;
  }
  
  .card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
	height: 100%;
  }
  
  .card.horizontal .card-image {
	max-width: 50%;
  }
  
  .card.horizontal .card-image img {
	border-radius: 2px 0 0 2px;
	max-width: 100%;
	width: auto;
  }
  
  .card.horizontal .card-stacked {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
		-ms-flex: 1;
			flex: 1;
	position: relative;
  }
  
  .card.horizontal .card-stacked .card-content {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
  }
  
  .card.sticky-action .card-action {
	z-index: 2;
  }
  
  .card.sticky-action .card-reveal {
	z-index: 1;
	padding-bottom: 64px;
  }
  
  .card .card-image {
	position: absolute;
  }
  
  .card .card-image img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: -35%;
	right: 0;
	top: 0;
	bottom: 0;
	width: unset;

  }
  
  .card .card-image .card-title {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
	padding: 24px;
  }
  
  .card .card-content {
	padding-left: 24px;
    padding-right: 24px;
	border-radius: 0 0 2px 2px;
  }
  
  .card .card-content p {
	margin: 0;
  }
  
  .card .card-content .card-title {
	display: block;
	line-height: 32px;
	margin-bottom: 8px;
  }
  
  .card .card-content .card-title i {
	line-height: 32px;
  }
  
  .card .card-action {
	background-color: inherit;
	border-top: 1px solid rgba(160, 160, 160, 0.2);
	position: relative;
	padding: 16px 24px;
  }
  
  .card .card-action:last-child {
	border-radius: 0 0 2px 2px;
  }
  
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: #ffab40;
	margin-right: 24px;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
	text-transform: uppercase;
  }
  
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
	color: #ffd8a6;
  }
  
  .card .card-reveal {
	padding: 24px;
	position: absolute;
	background-color: #EDEFF1;
	width: 100%;
	overflow-y: auto;
	left: 0;
	top: 100%;
	height: 100%;
	z-index: 3;
	display: none;
  }
  
  .card .card-reveal .card-title {
	cursor: pointer;
	display: block;
  }
  

	.mc-lg{

		width: 200px;
	
	}

	.mc-title {
    position: absolute;
    width: 102%;
    height: 20px;
    top: -2px;
    left: -2px;
    background-color: #ffffff;
    z-index: 1;
}

.mc-subt{
	position: absolute;
	top: 22px;
	text-align: center;
	width: 100%;
	left: 0;
}


.pasadia-row {
    width: 49%;
    border-top: 1px rgba(0, 0, 0, 0.466) solid;
    display: inline-table;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 25px;
}

.tab{
	width: 100%;
	height: 100%;
	position: relative;
	padding-bottom: 50px
}

.tab-activator-container {
	position: absolute;
	background-color: #ffffff00;
	height: 50px;
	top: -48px;
	z-index: 10;
}


@media only screen and (min-width: 600px) {
	.tab-activator-container {
		width: 50%;

	}
}

@media only screen and (max-width: 599px) {
	.tab-activator-container {
		width: 80%;

	}
}

.white-text{
	color: white;
}

.t-center{
	text-align: center;
	width: 100%;
}


.tab-activator {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	position: relative;
	display: inline-block;
	width: 49%;
	height: 100%;
	text-align: center;
	background-color: #ffffffc5 ;
}

.active {
	background-color: white !important;
}



.tab-act-content {
    height: fit-content;
    margin-top: 15px;
		position: relative;
		font-weight: bold;
		font-family: 'Roboto-bold';
		font-size: 15px;
}

.list-item{
	display: list-item;
}


.hidden{
	display: none;
}

.mc-header{
	background: url('../img/rawpixel-472356-unsplash.jpg') no-repeat;
	background-size: cover;
	background-position: center
}
.content-header{
	margin-bottom: 25px !important;
}

.mc-img-card{
	width: 150px;
	height: 150px;
	margin: 2.5px;
	position: relative;
	overflow: hidden;
}





/*PROMOTIONS*/

#promotions {
	width: 100%;
	height: fit-content;
	margin-left: 0px;
	margin-right: 0px;
}

.promotions-title {
	padding: 4%;
}

.promotions-title h3 {
	text-align: center;
	font-size: 18px;
}

.specials {
	height: fit-content;
	display: block;
	position: relative;
	justify-content: center;
	padding: 20px;
	text-align: center;
}


.specials .box1, 
.specials .box2,
.specials .box3,
.specials .box4,
.specials .box5 {
    width: 16em;
    display: inline-block;
    position: relative;
    height: 280px;
    text-align: center;
    width: 200px;
    margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
}

.box1 h4,
.box2 h4,
.box3 h4,
.box4 h4,
.box5 h4 {
	font-size: 14px;
	text-align: center;
	margin-bottom: 3%;
}

.header-box {
	width: 100%;
	height: 18em;
	overflow: hidden;
}

.header-box .img-box {
	position: relative;
	width: 100%;
	height: 100%;
	
	background-size: 100% 100%;
}

.header-box .img-box:hover {
	opacity: 0.5 black;
	transition: all .5s ease-in-out;
	filter: brightness(0.5);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	cursor: pointer;
}

.body-box {
	width: 100%;
	height: fit-content;
	background-color: #EDEEF0;
	padding: 5% 1%;
	text-align: center;
}

.body-box h1 {
	margin: 0;
	color: #316698;
	font-size: 20px;
}

.box-desc {
	width: 40px;
	height: 40px;
	background-color: #316698;
	color: white;
	float: right;
	font-size: 16px;
	padding-top: 6%;
	text-align: center;
	position: relative;
	z-index: 11;
	top: 0px;
}

.through {
	position: relative;
}

.through:before {
	position: absolute;
	content: "";
	width: 20%;
	top: 33%;
	border-top: 1px solid;
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

.details {
	color: black !important;
	font-size: 10px;
	text-decoration: none;
	text-decoration-line: none;
}

.details:hover {
	color: #316698;
	text-decoration-line: none;
}

.view-more {
	text-align: center;
	margin: 1% 0 2.5% 0;
}

.view-more a {
	text-decoration: none;
	font-size: 15px;
	color: black;
	/*text-decoration-line: none;*/
}
.mc-title {
	position: absolute;
	width: 102%;
	height: 20px;
	top: -2px;
	left: -2px;
	background-color: #ffffff;
	z-index: 11;
}

.square {
	width: 100px;
	height: 60px;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
}