html{
    font-family: 'Roboto';
  }
  
  
  a:link    {
    text-decoration:  none;
    color: white;
  
    } 
  
  
    a:visited {
   
      text-decoration:  none;
      color: white;
      } 
    a:hover   {
      text-decoration:  none;
    color: white;
      } 
    a:active  {
      text-decoration:  none;
    color: white;
      } 
  
  
      
  .slider {
    position: relative;
    height: 500px ;
    width: 100% !important;
  }
  
  .slider.fullscreen {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  
  .slider.secondary {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .slider.fullscreen ul.slides {
    height: 100%;
  }
  
  .slider .slides {
    background-color: #9e9e9e;
    margin: 0;
    height: 500px !important;
  }
  
  .slider .slides li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: inherit;
    overflow: hidden;
  }
  
  .slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 55%;
    left: 15%;
    width: 70%;
    opacity: 0;
  }
  
  .slider .slides li .caption p {
    color: #e0e0e0;
  }
  
  .slider .slides li.active {
    z-index: 2;
  }
  
  .slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0;
    z-index: 5;
  }
  
  .slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 8px;
    background-color: #e0e0e0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
  }
  
  .slider .indicators .indicator-item.active {
    background-color: #316698;
  }
  
  
  .caption{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0px 3px 10px rgba(3, 3, 3, 0.63);
    
  } 
  
  
  .hide {
    display: none !important;
  }
  
  .left-align {
    text-align: left;
  }
  
  .right-align {
    text-align: right;
  }
  
  .center, .center-align {
    text-align: center;
  }
  
  .left {
    float: left !important;
  }
  
  .right {
    float: right !important;
  }
  
  
  
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  .menu-container{
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 9;
    background-color: #0000002f;
  }
  
  .menu-container-children{
    position: relative;
    width: 100%;
    height: 300px;
    /* background-color: #00000021 */
  }
  
  .menu-container-children .secondary{
    position: relative;
    width: 100%;
    height: 150px;
    /* background-color: #00000021 */
  }
  
  
  
  .top-menu{
  
    display: inline-block;
    height:15%;
    width: 64%;
    /* background-color: #00000075; */
    position: relative;
  
  }
  
  .top-menu-left {
  
    display: inline-block;
    height: 15%;
    width: 35%;
    background-color: #00000000;
    position: relative;
  
  
  }
  
  @media only screen and (min-width: 801px) {
  
    .menu-container{
      background: -moz-linear-gradient(top, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0.33) 52%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.33) 52%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.33) 52%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd000000', endColorstr='#00000000',GradientType=0 ); 
    }
  
    .cap-image{
      width: 550px  !important;
      z-index: 10;
    }
  
    .image-caption{
      top: -10% !important; 
      left: 30% !important;
    }  
  
    .slider.fullscreen ul.indicators {
      z-index: 5;
      bottom: 30px;
    }
    
  
    .top-menu-left {
  
      text-align: right;
    
    }
  }
  
  
  
  .top-menu-item{
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 180, 204, 0);
    display: inline-block;
    
  
  }
  
  
  .top-menu-text {
    width: fit-content;
    display: inline-block !important;
    vertical-align: super;
    color: white;
    margin-left: 10px;
    margin-right:10px;
    font-size: 12px;
  }
  
  
  
  
  .logo-center{
    background: url(../icons/logo.png) no-repeat center;
    display: inline-block;
    height: 40%;
    width: 100%;
    /* background-color: #00000059; */
    background-size:190px;
  }
  
  .item1{
    background: url(../icons/3.png) no-repeat center;
    background-size:130%;
  }
  
  .item2{
    background: url(../icons/4.png) no-repeat center;
    background-size:130%;
  }
  
  .item3{
    background: url(../icons/5.png) no-repeat center;
    background-size:130%;
  }
  
  .item4{
    background: url(../icons/6.png) no-repeat center;
    background-size:130%;
  }
  
  .item5{
    background: url(../icons/7.png) no-repeat center;
    background-size:130%;
  }
  
  .item6{
    background: url(../icons/8.png) no-repeat center;
    background-size:130%;
  }
  
  .item7{
    background: url(../icons/9.png) no-repeat center;
    background-size:130%;
  }
  
  .logo-left{
    background: url(../icons/logo.png) no-repeat center;
    height: 180px;
    width: 150px;
    position: absolute;
    /* background-color: #00000059; */
    background-size:130px;
    left: 20px;
  }
  
  .menubar{
    display: inline-block;
    height:35%;
    width: 100%;
    /* background-color: #00000075; */
  }
  
  
  .menu{
  
    display: inline-block;
    height:40%;
    width: 100%;
    /* background-color: #00000075; */
  
  }
  
  .menu-search{
  
    display: inline-block;
    height:40%;
    width: 100%;
    /* background-color: #00000075; */
  
  }
  
  
  .search-input {
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    outline: none;
    color: rgb(75, 75, 75);
    position: relative;
    display: inline-block;
    width: calc(100% - 60px);
    height: -webkit-fill-available;
    height: -moz-available;
    background-color: #ffffff00;
    padding-left: 10px;
    font-size: 16px !important;
  }
  
  
  .search {
  position: relative;
  background-color: #ffffffb5;
  border-radius: 30px;
  }
  
  .search-input:focus{
    color: #316698;
  }
  
  
  
  .search-button {
    position: absolute;
    width: 33px;
    height: 33px;
    border: 3px solid #316698;
    background: #316698;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 28px;
    font-weight: 700;
    right: 5px;
    top: 5px;
  }
  
  
  @supports (-moz-appearance:none) {
    .search-button {
      position: relative;
      width: 33px;
      height: 33px;
      border: 2px solid #ffffff;
      background: #316698;
      text-align: center;
      color: #fff;
      border-radius: 20px;
      cursor: pointer;
      font-size: 28px;
      font-weight: 700;
      right: -23px;
      top: 0px;
      display: inline-block;
      vertical-align: middle;
  }
  
  
  .box-desc {
    
    padding-top: 0% !important;
    
  }
    
  }
  .search-center{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-20%, -20%);
    z-index: 15;
  }
  
  .center-menu-items {
  
    margin: 0 auto;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  
  }
  
  .menu-desk-item{
    text-decoration: none !important;
    display: inline-block;
    height: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height:  38px;
    line-height:  40px;
    display:  inline-block;
    float:  none;
    text-align:  center;
    width:  100px;
    padding:  0px!important;
    font-size:  14px;
    color:  #fff;
      
    }
    
  .menu-desk-item:hover  {
  
    color:  #fff;
    border-bottom:  2px solid white;
  
  }
  
  .menu-desk-item.dactive  {
  
    color:  #fff;
    border-bottom:  2px solid white;
  
  }
  
  
  .menu-mobile-item{
    text-decoration: none !important;
    display: block;
    height: 45px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height:  50px;
    line-height:  40px;
    float:  none;
    text-align:  left;
    width:  95%;
    padding:  0px!important;
    font-size:  20px;
    font-weight: bold;
    color:  #fff;
    z-index: 3;
      
    }
  
  
    .menu-mobile-item:hover  {
  
      color:  #fff;
      border-right:  3px solid white;
    
    }
  
    .mactive  {
  
      color:  #fff !important;
      border-right:  3px solid white !important;
    
    }
     
  .center-search-items{
  
    margin: 0 auto;
    height: 100%;
    width: 50%;
  
  
    background-color: rgba(0, 0, 0, 0)
  }
  
  
  .mobile-menu{
    display: none;
  }
  
  .desktop-hide{
    display: none;
  }
  
  .mobile-hide{
    display: unset;
  }
  
  .items1{
    display: none;
  }
  
  .drag-target{
    display: none;
  }
  
  .items2{
    display: block;
  }
  
  @media only screen and (max-width: 800px) {
  
    .items2{
      display: none;
    }
    
  
  .drag-target{
    display: unset;
  }
  
  
    .desktop-hide{
      display: inline-block;
    }
  
    .mobile-hide{
      display: none;
    }
  
    .top-menu{
      display: none;
    }
  
    .top-menu-left{
      position: absolute;
      top: 20px;
      left: 20px;
      width: 80%;
      text-align: -webkit-left;
    }
    .center-search-items{
      width: 90%;
    }
    .center-menu-items{
      
      display: none;
  
    }
  
    .items{
      display: none;
    }
  
    .items1{
      display: unset;
    }
  
    .logo-center {
      height: 100%;
      background-size: 240px;
  }
  
    .mobile-menu{
      position: fixed;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #31669800;
      border-radius: 50%;
      border: 5px solid #31669800;
      z-index: 150 !important;
      right: 20px;
      top: 10px;
      color: white;
      /* -webkit-box-shadow: 0px 4px 27px -2px rgba(0,0,0,0.66);
      -moz-box-shadow: 0px 4px 27px -2px rgba(0,0,0,0.66);
      box-shadow: 0px 4px 27px -2px rgba(0,0,0,0.66); */
    }
  
    .navbarmb{
      position: fixed;
      background-color: #13406bda;
      width: 100%;
      height:67px ;
      top: -95px;
      z-index: 149;
      -webkit-transition: all .5s;
      transition: all .5s;
      padding-top: 8px;
      padding-left: 20px;
  
    }
  
    .navmbactive{
    
      top: 0;
      -webkit-transition: all .3s;
      transition: all .3s;
  
    }
    
    
  }
  
  .cap-image1 {
    width: 150% !important;
    z-index: 10;
  
  }
  
  .image-caption1 {
    bottom: 0% !important;
    top: 20% !important;
    left: 0% !important;
  }
  
  @media only screen and (max-width: 800px) {
  
    .top-menu-left{
      display: none !important;
    }
  
  
  
    .menu-container{
  
      background: -moz-linear-gradient(top, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0.33) 52%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.33) 52%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.33) 52%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd000000', endColorstr='#00000000',GradientType=0 ); 
    }
  
    .cap-image {
      width: 400px !important;
      z-index: 10;
      height: 400px !important;
  }
  
  .cap-image1 {
    width: 150% !important;
    z-index: 10;
    height: 400px !important;
  }
  
    .slider.fullscreen ul.indicators {
      z-index: 10;
      bottom: 5px;
    }
    
  
    .image-caption {
      bottom: 10% !important;
      top: 20% !important;
      left: 30% !important;
  }
  
  .image-caption1 {
    bottom: 10% !important;
    top: 20% !important;
    left: 0% !important;
  }
  
  
    .top-menu-left {
  
      text-align: left;
    
    }
  }
  
  
  
  
  
  button:focus { outline: none; }
  
  
  /* materialize sidenav for mobile */
  
  
  
  .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #316698;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
            border: 20px solid #316698
  }
  
  .sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  
  .sidenav .collapsible {
    margin: 0;
  }
  
  .sidenav li {
    float: none;
    line-height: 48px;
  }
  
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
    margin: 10px 15px;
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
    color: #fff;
  }
  
  .sidenav li > a.btn-flat {
    color: #343434;
  }
  
  .sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
    background-color: #2bbbad;
  }
  
  .sidenav li > a.btn-floating:hover {
    background-color: #26a69a;
  }
  
  .sidenav li > a > i,
  .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
  .sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .sidenav .divider {
    margin: 8px 0 0 0;
  }
  
  .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .sidenav .subheader:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
    height: 200px;
    
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    width:80px;
    top: 10px;
  }
  
  .user-image{
    position: absolute;
    top:-5px;
  }
  
  .sidenav .user-view .name,
  .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
  }
  
  .sidenav .user-view .name {
    margin-top: 0px;
    font-size: 20px;
  
    font-weight: bold;
  }
  
  .sidenav .user-view .email {
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .user-info{
    background-color: #ffffff8c;
    position: absolute;
    left: 0;
    top: 55px;
    border-radius: 15px;
    border: 10px solid #ffffff03;
    height: fit-content;
    color: rgb(58, 58, 58);
    
  }
  
  .drag-target {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998;
    left: 0;
    background-color: #00000000;
  }
  
  .drag-target.right-aligned {
    right: 0;
  }
  
  .sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }
  
  .sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
  }
  
  @media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
      -webkit-transform: translateX(-105%);
              transform: translateX(-105%);
    }
    .sidenav.sidenav-fixed.right-aligned {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
    }
    .sidenav > a {
      padding: 0 16px;
    }
    .sidenav .user-view {
      padding: 16px 16px 0;
    }
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #ee6e73;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #fff;
  }
  
  .sidenav .collapsible-body {
    padding: 0;
  }
  
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }
  
  
  .collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2rem;
  }
  
  .sidenav .collapsible,
  .sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .sidenav .collapsible li,
  .sidenav.fixed .collapsible li {
    padding: 0;
  }
  
  .sidenav .collapsible-header,
  .sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
  }
  
  .sidenav .collapsible-header:hover,
  .sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav .collapsible-header i,
  .sidenav.fixed .collapsible-header i {
    line-height: inherit;
  }
  
  .sidenav .collapsible-body,
  .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
  }
  
  .sidenav .collapsible-body li a,
  .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
  }
  
  /* 2dp elevation modified*/
  /* .z-depth-1, nav,  .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  } */
  
  /* ul li{ list-style-type: none !important; } */
  
  .secondary {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.418);
  }
  .bg1{
    background-size: cover !important; 
    display: inline-block;
    height: 100%;
    width: 100%;
  
    /* background-color: #00000059; */
    background-size: cover;
  
  }
  
  .results{
    display: none;
    position: absolute;
    width: 100%;
    min-height: 20px;
    max-height: 300px;
    background-color: #316698;
    border-radius: 10px;
    z-index: 100;
    overflow: auto;
  }
  
  .res-active{
    display: block;
  }
  
  .res-item{
    display: block;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.144);
    margin: 3px;
    font-size: 18px;
    vertical-align: middle;
    padding: 8px;
  }
  
  
  a:not([href]):not([tabindex]):hover {
  color: white !important;
  
  }
  
  a:not([href]):not([tabindex]) {
  color: white !important;
  
  }
  
  @font-face {
    font-family: 'Gloss-And-Bloom';
    font-style: normal;
    font-weight: 500;
    src: local('Gloss-And-Bloom'), local('Gloss-And-Bloom'), url() format('ttf');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  
  @font-face {
    font-family: 'Gloss-And.Bloom';
    src: url('../fonts/Gloss_And_Bloom.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  
  
  .spantxt {
    font-family: 'Gloss-And.Bloom';
    color: white;
    font-size: 30px;
  }
  
  .spantxt1 {
    font-family: 'Gloss-And.Bloom';
    color: white;
    font-size: 25px;
    vertical-align: top;
    margin-left: 40px;
  }
  
  .spantxt2 {
    font-family: 'Gloss-And.Bloom';
    color: white;
    font-size: 40px;
  }
  
  .exp-sin-lim {
    position: absolute;
    top: 200px;
    transform: rotate(-10deg);
    left: 2%;
  }
  
  @media only screen and (max-width: 767px){
  
  
  .spantxt {
    font-family: 'Gloss-And.Bloom';
    color: white;
    font-size: 14px;
  }
  
  .spantxt1 {
    font-family: 'Gloss-And.Bloom';
    color: white;
    font-size: 10px;
    vertical-align: top;
    margin-left: 10px;
  }
  
  .spantxt2 {
    font-family: 'Gloss-And.Bloom';
    color: white;
    font-size: 18px;
  }
  
  .exp-sin-lim {
    position: absolute;
    top: 240px;
    transform: rotate(-10deg);
    left: calc(50% - 59.855px) !important;
  }
  
  }
  
  
   .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
  }
  
   .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  @media only screen and (max-width: 992px) {
     .brand-logo {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
     .brand-logo.left,  .brand-logo.right {
      padding: 0;
      -webkit-transform: none;
              transform: none;
    }
     .brand-logo.left {
      left: 0.5rem;
    }
     .brand-logo.right {
      right: 0.5rem;
      left: auto;
    }
  }
  
   .brand-logo.right {
    right: 0.5rem;
    padding: 0;
  }
  
   .brand-logo i,
   .brand-logo [class^="mdi-"],  .brand-logo [class*="mdi-"],
   .brand-logo i.material-icons {
    float: left;
    margin-right: 15px;
  }
  