/*GENERAL*/

body {
    width: 100%;
    position: relative;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
}

h2 {
    margin: 0;
    font-family: "Roboto-Bold", sans-serif;
}

h3 {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 12px;
    display: block;
    margin: 0;
}

h4 {
    margin: 0;
    font-family: "Roboto-Bold", sans-serif;
}

p {
    font-family: "Roboto-Regular", sans-serif;
    margin: 0px;
    font-size: 10px;
}

b {
    font-family: "Roboto-Bold", sans-serif;
}

.fa-phone {
    transform: rotate(90deg);
}


/*BUTTON*/

.button {
    background-color: #316698;
    color: white;
    /*border: 1px solid #316698;*/
    margin: 15% 20% 5% 20%;
    padding: 8px;
}

.button span {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
}

.button:hover {
    background-color: #1C4368;
}


/*FOOTER*/

footer .terms-social {
    width: 100%;
    height: 18em;
    background-color: #2A2A2A;
    display: inline-block;
    margin-top: 8%;
}

.terms {
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3.8%;
}

.terms a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 13px;
    margin: 10px 0;
}

.terms a:hover {
    color: #316698;
}

.social {
    width: 50%;
    color: white;
    text-align: center;
    padding-top: 4%;
    display: inline-block;
}

.social p {
    font-size: 14px;
}

.social i {
    margin: 5% 3%;
    font-size: 2.1em;
}

footer .copyrigth {
    background-color: #1F1F1F;
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 35px;
}


/*END FOOTER*/